body{
background:skyblue;
}
*{
box-sizing:border-box;
}
.wrap{
width:400px;
margin:auto;
height:auto;
background:blue;
padding:15px;
}
input[type=text]{
width:100%;
padding:10px;
font-size:22px;
margin-top:20px;
border-radius:5px;
}
input[type=button]{
width:89px;
padding:10px;
background:green;
font-size:22px;
border-radius:5px;

}
#del{
width:100%;
}